Label {
    -fx-border: 1;
    -fx-min-width: 70;
    -fx-text-alignment: center;
    -fx-min-height: 70;
    -fx-border-color:black;
    -fx-border-style: solid;
    -fx-padding: 8 8 8 8;
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
}

Label.light {
    -fx-background-color: #ffce9e;
}

Label.dark {
    -fx-background-color: #d18b47;
}

